.user-info__button-edit {
  width: 38px;
  height: 18px;
  font-size: 12px;
  line-height: 15px;
  margin: 24px 0 0;
}
.user-info__button-edit:hover{
  background-color: white;
  color: black;
}

@media screen and (max-width: 980px) {
  .user-info__button-edit {
    position: block;
    margin: 10px auto 5px;
  }
}
